<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
<meta name = "viewport" content = "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>#{article_title} - #{blogTitle} </title>
</head>

<body>
<div id = "container">
<div id = "header">
<a href = "../index.html"><h1>#{blogTitle}</h1></a>
</div>
<div id = "content">
<div class = "article">

<h1>#{title}</h1>

#{article_text}
<div class = "articlemeta">
ver&oumlffentlicht am #{dateString}
</div>

</div>
<div id = "footer">
 
</div>
</div>
</body>
</html>


